* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  color: #17171a;
}
*::-webkit-scrollbar {
  display: none;
}
body{
  width: 100%;
}
.topTitle {
  padding: 0 20px;
  padding-top: 12%;
  padding-bottom: 8%;
  text-align: start;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  background-color: #FFF;
  overflow: hidden;
  position: fixed;
  top: 0; 
  width: 100%; 

}
#listValute{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30.5%;
  margin-bottom: 8vh;
}
#criptoPage {
  height: 90vh;
  text-align: center;
  overflow: scroll;
}
#valutePage {
  height: 90vh;
  text-align: center;
  overflow: scroll;
}
#tabBar {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  left: 0;
  /* overflow: hidden; */
  position: fixed;
  bottom: 0; 
  width: 100%; 
  background-color: #aeb6ce;
}
.hide {
  display: none !important;
}
#tabBar img {
  width: 40%;
}

#tabBar > div  {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-around;
}
#tabBar > div > div{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nominal {
  margin-top: 10px;
  display: flex;
  font-size: 1.4em;
  width: 85%;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(185, 193, 217, 0.8);
  padding-bottom: 10px;
  align-items: center;
}
.p {
  text-align: start;
  font-size: 16px;
  font-weight: bold;
  width: 90%;
}
.values {
  width: 40%;
}
.values > p + p,
.p > p + p {
  text-align: end;
  font-size: 12px;
  color: #aeb6ce;
  font-weight: 400;
  width: 100%;
}
.p > p + p {
  text-align: start;
}
#price {
  color: #17171a;
  text-align: end;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
/* //////////////////////////////////////// */
